.gameBoard{
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Holtwood One SC', serif;
    font-size: 20px;
}
.gameBoard h1{
    animation: title .5s infinite;
}
.titleScreen{
    height: 32px;
}
@keyframes title{
    0% {transform: rotate(-20deg)scale(.01)}
    50% {transform: rotate(5deg)translateY(-.2rem)}
    100% {opacity: 0;
        transform: rotate(5deg)translateY(.2rem)}
    }
.container{
    width: 80%;
    margin: 1rem auto;
    background-image: url("../img/bg.jpg");
    background-position: -29rem;
    background-position-y: -25rem;
    padding: 1rem;
    
}
.rect {
    background-color: whitesmoke;
    width: 4rem;
    height: 400px;
    margin: auto ;
}
.lake {
    display: inline-flex;
    height: 400px;
}
.fishStatsBox {
    background-color: maroon;
    width: 1rem;
    margin: auto ;
    height: 400px;
}
#fishStats {
    background-color: maroon;
    width: 1rem;
    margin: auto ;
}
#innerRect {
    background-color: blue;
    width: 4rem;
    height: 4rem;
    /* transform: translateY(5rem); */
    opacity: .5;
    
}
#fish {
    width: 4rem;
    /* transform: translateY(-4rem); */
}
